
@font-face {
    font-family: 'Kumbh Sans Black';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans Light';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kumbh Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/KumbhSans-Thin.ttf') format('truetype');
}